.home-page header {
    background: linear-gradient(90deg, #214A97 0%, #A4BFFF 100%), url(../../utils/images/home-page-header.jpg);
}

.home-page header p {
    width: 75%;
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background: linear-gradient(90deg, #214A97 0%, #A4BFFF 100%), url(../../utils/images/blog-section-img.jpg);
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .home-page header p {
        width: 100%;
    }
}
