.courses-page header {
    background-image: linear-gradient(90deg, #214A97 0%, #A4BFFF 100%), url(../../utils/images/courses-page-header.jpg);
}

.courses-page .card-img-overlay {
    background-color: rgba(5, 10, 35, 0.7);
}

.courses-page .card:hover {
    cursor: pointer;
}
.title-color {
  color: #214A97;
}
